@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
}

@keyframes ticker {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-ticker {
  animation: ticker 35s linear infinite;
}
